@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

body {
  width: 100vw;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 44.51%;
}

ul {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0;
  font-weight: 600;
  min-width: 430px;
  z-index: 1;
  color: #fcfcfc;
}

li,
.terms {
  cursor: pointer;
}

.ws {
  position: absolute;
}

.h1,
.h2 {
  top: -88px;
  right: 0;
}

.get-access {
  background: #ed1c24;
  padding: 10px;
  border-radius: 5px;
}

.td_section1 {
  width: 100%;
  background: #eee6e6;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 141px;
}

.section1_div {
  width: 403px;
  height: 506px;
  z-index: 1;
  margin-right: 11.32%;
}

.image5 {
  z-index: 1;
  margin-right: 63px;
  margin-left: 6.39%;
  border-radius: 60px 60px 0 0;
}

.section1_div p {
  margin: 20px 0;
  width: 356px;
  height: 185px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #000000;
}

.f1 {
  top: 189px;
  left: 180px;
}

.f2 {
  top: 199px;
  left: 0;
}

.features {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.features h2 {
  width: 260px;
  height: 216px;
  line-height: 72px;
  text-align: right;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-left: 17.71%;
  margin-right: 1.67%;
}

.features h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #000000;
  margin: 48px 0 94px 10.7%;
}

.features div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features div img {
  margin-top: 147px;
  margin-right: 6.04%;
  z-index: 1;
}

.rating-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 2;
}

.td_section2 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 86px;
  padding-bottom: 62.5px;
  background: #eee6e6;
}

.r1 {
  top: -149px;
  right: 0;
}

.r2 {
  top: 237px;
  right: 0;
}

.td_section2 h2 {
  width: 360px;
  height: 236px;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-left: 3.33%;
  margin-right: 12.71%;
}

.card {
  padding: 37px;
  width: 578px;
  height: 200.5px;
  background: #ffffff;
  box-shadow: 0px 6.69919px 6.69919px rgba(0, 0, 0, 0.25);
  border-radius: 8.37398px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-self: flex-start;
}

.card h3 {
  text-align: center;
}

.stars {
  display: flex;
  gap: 0;
  align-items: center;
}

.stars p {
  display: inline-block;
  width: 56px;
  height: 38px;
  margin-left: 20px;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #000000;
}

.card h3 {
  width: 310px;
  height: 43px;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #000000;
}

.iphone_container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 275px;
  padding-bottom: 47px;
}

.l1 {
  top: 364px;
  left: 0;
}

.l2 {
  top: 551px;
  left: 68px;
}

.locate_fast {
  width: 444px;
  height: 216px;
  line-height: 72px;
  text-align: right;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-left: 6.34%;
}

.iphone_location_img {
  margin-left: 4.4%;
  margin-right: 7.15%;
  z-index: 1;
}

.td_section3 {
  background: #292d32;
  height: 600px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.td_section3 h2 {
  line-height: 90px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.countdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coming-soon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown {
  margin: 64px 0;
  border: 5px solid #ffffff;
  border-radius: 5px;
  height: 149px;
  width: 106px;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.02em;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colom {
  margin: 27px;
}

footer {
  background: #ed1c24;
  padding: 25px 69px 21px 69px;
  color: #ffffff;
  font-weight: 400;
}

.social-media {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 45.47px;
}

.social-media a {
  max-height: fit-content;
}

footer ul {
  margin-top: 11px;
  margin-bottom: 16px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 8px;
  height: 23px;
}

.terms {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.display1 {
  display: none;
}

.display2 {
  display: block;
}

.bg {
  display: none;
}

h2 {
  font-weight: 700;
  font-size: 60px;
  color: #000000;
}

h1 {
  width: 328px;
  height: 230px;
  font-weight: 700;
  font-size: 70px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #000000;
  line-height: 70px;
}

@media screen and (max-width: 1200px) {
  header {
    padding: 0 7%;
    gap: 0;
    justify-content: space-between;
  }

  .td_section1 {
    padding-left: 7.5%;
    padding-right: 5.07%;
    justify-content: space-between;
  }

  .section1_div {
    margin-right: 0;
  }

  .image5 {
    margin-right: 0;
  }

  .features div {
    padding-left: 10.14%;
    padding-right: 13.82%;
    justify-content: space-between;
  }

  .display {
    margin-right: 0;
  }

  .features h2 {
    margin-right: 0;
    margin-left: 0;
  }

  .td_section2 {
    padding-right: 1.46%;
    padding-left: 8.68%;
    justify-content: space-between;
  }

  .td_section2 h2 {
    margin-left: 0;
    margin-right: 0;
  }

  .iphone_container {
    padding-right: 10.04%;
    padding-left: 4.1%;
    justify-content: space-between;
  }

  .iphone_location_img {
    margin-left: 0;
    margin-right: 0;
  }

  .ws {
    position: relative;
    display: none;
  }

  .bg {
    position: absolute;
    display: block;
  }

  .display2 {
    display: none;
  }
  .display1 {
    display: block;
  }

  .h1,
  .h2 {
    top: -88px;
    right: 0;
  }

  .r1 {
    top: -149px;
    right: 0;
  }

  .r2 {
    top: 237px;
    right: 0;
  }

  .f1 {
    top: 250px;
    left: -32px;
  }

  .f2 {
    top: 166px;
    left: -32px;
  }

  .l1 {
    top: 364px;
    left: 0;
  }

  .l2 {
    top: 551px;
    left: 0;
  }
}

.blk button {
  background: #000000;
}

.blk input {
  border: 2px solid #000000;
}

.form {
  visibility: hidden;
}

@media screen and (max-width: 1127px) {
  body {
    width: 1127px;
  }
}

form button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 12px;
  height: 38px;
  background: #ed1c24;
  border-radius: 3px;
  color: #ffffff;
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  border: none;
}

button:hover {
  transform: scale(1.01);
}

form input {
  padding: 0 8px;
  width: 240px;
  height: 40px;
  background: #fafbfc;
  border: 2px solid #ed1c24;
  border-radius: 3px;
}

form input:focus {
  outline: #ed1c24;
  scale: 1.01;
}

form input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.display-none {
  display: none;
}

.flex-box {
  display: flex;
  gap: 18px;
}

.optionalParent,
.mc-field-group {
  width: fit-content;
  height: fit-content;
}

.optionalParent input {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 38px;
  background: #ed1c24;
  border-radius: 3px;
  color: #ffffff;
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  border: none;
  width: 121px;
}

.mc-field-group input {
  padding: 0 8px;
  width: 240px;
  height: 40px;
  background: #fafbfc;
  border: 2px solid #ed1c24;
  border-radius: 3px;
  transform: translateY(-1px);
}

.mc-field-group input:focus {
  outline: #ed1c24;
  scale: 1.01;
}

.mc-field-group input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.newsletter-top-black {
  margin-top: 11px;
  display: inline-block;
  top: 682px;
  left: 130px;
}

.newsletter-top-black .mc-field-group input {
  border: 2px solid #000000;
}

.newsletter-top-black .optionalParent input {
  background: #000000;
}
